<div id="outercard">
	<div class="card text-center" id="logincard">
		<div class="card-header">
			<h1>Sign-In</h1>
		</div>
		<div class="card-body">
			<div class="text-muted">using<br><br></div>
			<%= link_to "/auth/azure_oauth2", class: "btn btn-outline-primary" do %>
				<i class="fab fa-microsoft fa-4x"></i><h1>Azure</h1>
			<% end %>
		</div>
		<div class="card-footer text-muted">
	  	</div>
	</div>
</div>