<div id="memain">
	<% if !current_user %>
		<% current_user.attributes.each do |k, v| %>
			<b><%= k %>:</b> <%= v %> <br>
		<% end %>
	<% end %>
	<div class="card border-light mb-3">
	  	<div id="titlecont" class="card-body text-secondary text-center">
	  		<strong><%= current_user.fname %> <%= current_user.lname %></strong>
	  		<div class="text-muted"><%= current_user.email %></div><br>
	  		<%= link_to logout_path, class: "btn btn-outline-dark" do %>
				Logout
			<% end %>
	  	</div>
	</div>

	<div class="card border-light mb-3">
	  	<div id="titlecont" class="card-body text-secondary text-center">
			<div class="btn-group" role="group" aria-label="Basic example">
				<%= link_to me_path(go: 1), class: "btn btn-primary", data: { toggle: "tooltip", placement: "bottom"}, title: "Unlock", remote: true do %>
					<i class="fas fa-unlock fa-fw fa-2x"></i>
				<% end %>
			</div>
	  	</div>
	</div>
	<div class="alert-msg text-center" id="flashstat">
		<%= render "layouts/flash" %>
	</div>
</div>