/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html{
	position: relative;
	min-height: 100%;
}

body{
	min-height: 100%;
}

#memain {
	max-width: 1200px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 50px;
	margin: 0 auto;
}

#outercard {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 50px;
}

#logincard {
	max-width: 500px;
	margin: 0 auto;
}

.card {
	box-shadow: 0px 3px 0px 2px rgba(214,214,214,1);
}