<% flash.each do |key, value| %>
    <% if value.class == Array %>
        <div class="<%= flash_class(key) %> flash-body-notice" id="flashdiv">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <% value.uniq.each do |message| %>
                <%= message %>
                </br>
            <% end %>
        </div>
    <% else %>
        <div class="<%= flash_class(key) %> flash-body-notice" id="flashdiv">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= value %>
        </div>
    <% end %>
<% end %>
